/* * {
  color: #e10222;
} */
/* 
ul > .orange {
  background-color: orange;
}
li {
  background-color: black;
}

span.orange {
  background-color: blue;
}

#carrot {
  background-color: yellow;
}
.orange + li {
  color: white;
} */
/* body {
    background-color: gray;
    color: white;
}

span {
    background-color: red;
}

#first {
    background-color: blue;
}

.second {
    background-color: green;
} */

.lion {
  color: sienna;
}
.zoo + .lion {
  background-color: red;
}
ul .lion {
  background-color: greenyellow;
}
.zoo .lion {
  font-weight: bold;
}
#tiger {
  background-color: yellow;
}
#tiger + li {
  background-color: skyblue;
}
li.lion ~ li {
  background-color: orange;
}

h2:hover {
  color: red;
}
a:active {
  background-color: blue;
}
input:focus {
  background-color: orange;
}

.fruit span:first-child {
  color: red;
}

.fruit div:first-child {
  color: red;
}

.stripes div:nth-child(2n + 1) {
  background-color: navy;
  color: white;
}
.stripes div:nth-child(2n) {
  background-color: yellow;
  color: black;
}

.box::before {
  content: "택시";
}
.box::after {
  content: "빨리";
}
/* 
input[disabled] {
  background-color: aqua;
} */

/* input[type="text"] {
  background-color: black;
  color: white;
} */

input[disabled] {
  background-color: red;
}
input[placeholder="이름"] {
  background-color: orange;
}
input:not(input[placeholder]) {
  background-color: blue;
}
