div {
  box-sizing: border-box;
}
h3 {
  margin: 0;
  font-size: 25px;
  margin: 10px 0px;
}
body {
  margin: 0;
}
main {
  padding: 20px;
  text-align: center;
  background-color: yellowgreen
}
span {
  margin-right: 8px;
}
input {
    border: 2px solid gray;
    border-radius: 8px;

}
input:hover {
    background-color: lightgray;
}
input[type="checkbox"] {
    margin-bottom: 10px;
}
textarea {
    width: 50%;
    margin: auto;
    border-radius: 7px;
    margin-bottom: 10px;
}
button {
    width: 50px;
    padding:3px;
    border: none;
    border-radius: 25px;
    display: block;
    margin: auto;
    background-color: aqua;
    color: black;
}