<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>방명록</title>
    <style>
        fieldset {
            margin-bottom: 20px;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <fieldset>
        <legend>방명록 등록</legend>
        <input type="text" placeholder="사용자 이름" name="userName" id="userName"><br>
        <input type="text" placeholder="방명록" name="userContent" id="userContent"><br>
        <button type="button" onclick="writeNote()">등록</button>
    </fieldset>

    <table border="1" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>작성자</th>
                <th>방명록</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i=0;i<data.length; i++) { %>
                <tr id="tr_<%= data[i].id %>">
                    <td>
                        <%= data[i].id %>
                    </td>
                    <td>
                        <%= data[i].name %>
                    </td>
                    <td>
                        <%= data[i].content %>
                    </td>
                    <td><button type="button" onclick="modifyBtn(this)">수정</button></td>
                    <td><button type="button" onclick="deleteBtn(this)">삭제</button></td>
                </tr>
                <% } %>
        </tbody>
    </table>
    <a href="/">홈으로 돌아가기</a>
    <script>
        let modifyInfo = {
            modifing: false,
            id: ''
        }

        function writeNote() {
            const name = document.querySelector('#userName').value
            const content = document.querySelector('#userContent').value
            const data = {
                name,
                content
            }

            if (modifyInfo.modifing) {
                const newData = { ...data, id: modifyInfo.id }
                console.log(newData)
                axios({
                    method: 'PATCH',
                    url: '/visitor/edit',
                    data: newData
                }).then((response) => {
                    window.location.replace('./visitor')
                })
            } else {
                axios({
                    method: 'POST',
                    url: '/visitor/write',
                    data,
                }).then(() => {
                    window.location.replace('./visitor')
                })
            }
        }

        const modifyBtn = (th) => {
            const id = th.parentNode.parentNode.id.split('_')[1]
            axios({
                method: 'GET',
                url: '/visitor/edit',
                params: {
                    id
                }
            }).then((response) => {
                document.querySelector('#userName').value = response.data.data[0].name
                document.querySelector('#userContent').value = response.data.data[0].content

                modifyInfo.modifing = !modifyInfo.modifing
                modifyInfo.id = id
            })



        }
        const deleteBtn = (th) => {
            const id = th.parentNode.parentNode.id.split('_')[1]
            axios({
                method: 'DELETE',
                url: '/visitor/delete',
                data: {
                    id
                }
            }).then(() => {
                window.location.replace('./visitor')
            })
        }
    </script>
</body>

</html>