<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <form name="loginform">
        <input type="email" name="id" placeholder="example@example.com" />
        <input type="password" name="pw" />
        <button type="button" onclick="login()">로그인</button>
    </form>
    <div class="loginErrorContainer"></div>
    <script>
        const errorContainer = document.querySelector('.loginErrorContainer')

        function checkTime(className, textColor) {
            if (className === 'error') {
                errorContainer.innerHTML = `<span class="${className}">아이디 혹은 비밀번호가 잘못 되었습니다.<br /> 입력하신 내용을 다시 확인해 주세요</span>`
            } else {
                errorContainer.innerHTML = `<span class="${className}">로그인되었습니다.</span>`
            }
            document.querySelector('.error, .success').style.color = textColor
            setTimeout(() => {
                errorContainer.innerHTML = ''
            }, 5000)
        }

        function login() {
            const form = document.forms['loginform']

            const data = {
                userId: form.id.value,
                userPassword: form.pw.value
            }
            axios({
                method: "POST",
                url: "/exercise2",
                data: data
            }).then((res) => {
                console.log(res.data.result)
                if (res.data.result) {
                    checkTime('success', 'blue')
                } else {
                    checkTime('error', 'red')
                }

            })
        }
    </script>
</body>

</html>