<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= userInfo.user_id %>
    <%= userInfo.user_pw %>
    <a href="/">홈으로 가기</a>
</body>
</html>