<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/setCookie">쿠키</a>
    <a href="/getCookie">얻기</a>
    <a href="/deleteCookie">삭제</a>
    <br />
    <a href="/name">얻기</a>
</body>

</html>